<body id='home'>
<h1 class='zelda2'>Welcome!</h1>


<h3><a href="/world_bosses">World of Warcraft: World Bosses</a></h3>

  <p><a href="/loots">All Loot</a></p><br>


<h3><a href="/regions">Breath of the Wild: Regions</a></h3>

  <p><a href="/locations">All Locations</a></p>
