<h1>Welcome!</h1>


<h3><a href="/world_bosses">World of Warcraft: World Bosses</a></h3>
<ul>
  <li><a href="/loots">All Loot</a></li>
</ul>

<h3><a href="/regions">Breath of the Wild: Regions</a></h3>
<ul>
  <li><a href="/locations">All Locations</a></li>
</ul>
