/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
   font-family: 'wow';
   src: url('LifeCraft_Font.ttf') format('truetype');


 }
 @font-face {
   font-family: 'zelda';
   src: url(/assets/fonts/zelda.otf) format("truetype");


}

.button {
  background-color: rgb(40,53,76);
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow:     12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.button_show {
  background-color: rgb(22,175,198);
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow:     12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

 .button:hover {
  background-color: #4CAF50;
  color: white;
}

#region {
  background-image: url(zelda_index.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: zelda;
}

#show {
  background-image: url(shows.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#show_background {
  background-color: rgb(22,175,198);
  width : 20%;
  height: 100vh;
}

h1 {
  text-shadow:1px 1px 10px #008CBA, 1px 1px 10px #ccc;
  color: white;
}

a {
  text-shadow:1px 1px 10px #008CBA, 1px 1px 1px #ccc;
  color: #fff;
}

#world_bosses {
  background-image: url(wow_index_page.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: wow;
  text-align: center;
}
