<a href="/locations">All Locations</a>
<h1>Legend of Zelda: Breath of the Wild - Regions</h1>

<% @regions.each do |region| %>
  <h3><a href="/regions/<%= region.id %>"><%= region.name %></a> Created at: <%= region.created_at %></h3>
<% end %>

<%= button_to "New Region", "/regions/new", method: :get %>
