<a href="/regions">All Regions</a>
<h1><%= @region.name %></h1>
<p>Is there a Divine Beast?: <%= @region.has_divine_beast %></p>
<p>How many shrines? <%= @region.shrines %></p>
<p>Number of Locations: <%= @region.location_count %></p>
