<a href="/world_bosses"> All World Bosses</a>
<h1><%= @world_boss.name %></h1>
<p>Max Health: <%= @world_boss.max_health %></p>
<p>Current World Boss? <%= @world_boss.is_current_boss %></p>
<p>Zone: <%= @world_boss.zone %></p>
